<a href="https://colab.research.google.com/github/FrannGallo/SistemaRecomm/blob/main/Sprint_3_V2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Sistema de recomendacion de animes

### IMPORTES

In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

### LLamamos todos los archivos csv descargados

In [4]:
animelist= pd.read_csv('/content/drive/MyDrive/Data Science 2023/Sprints/Sprint 3/animelist.csv')

In [5]:
interactions_selected = animelist[['user_id', 'anime_id', 'rating','watching_status']]

In [6]:
interactions_selected.user_id.nunique()

325770

In [6]:
interactions_selected.anime_id.nunique()
interactions_selected

           user_id  anime_id  rating  watching_status
0                0        67       9                1
1                0      6702       7                1
2                0       242      10                1
3                0      4898       0                1
4                0        21      10                1
...            ...       ...     ...              ...
109224742   353404       507       7                2
109224743   353404       392       9                2
109224744   353404       882       6                2
109224745   353404       883       8                2
109224746   353404       149       0                6

[109224747 rows x 4 columns]

Para que podamos correr el notebook con los recursos disponibles, limitaremos la cantidad de usuarios.

Vamos a seleccionar 20.000 usuarios random (no nos alcanza la ram que nos da colab para más que esto)

In [7]:
import random
random.seed(0)

selected_users = random.sample(list(interactions_selected['user_id'].unique()), k=20000)     #Elegimos una muestra de 20000 porque es lo maximo que nos deja

interactions_selected = interactions_selected[interactions_selected['user_id'].isin(selected_users)]

interactions_selected.to_csv('/content/drive/MyDrive/Data Science 2023/Sprints/Sprint 3/anime20000v1.csv', index=False)

In [9]:
interactions_selected

           user_id  anime_id  rating  watching_status
2568            12     32301       0                1
2569            12       857       0                1
2570            12     25013       0                1
2571            12     34051       0                1
2572            12     32171       0                1
...            ...       ...     ...              ...
109223353   353396       339       0                6
109223354   353396      7311       0                6
109223355   353396      2001       0                6
109223356   353396     33352       0                6
109223357   353396     43299       0                6

[6635534 rows x 4 columns]

### LLAMAMOS EL CSV DE ESTUDIO

In [44]:
interactions_selected= pd.read_csv('/content/drive/MyDrive/Data Science 2023/Sprints/Sprint 3/anime20000v1.csv')
interactions_selected

         user_id  anime_id  rating  watching_status
0             12     32301       0                1
1             12       857       0                1
2             12     25013       0                1
3             12     34051       0                1
4             12     32171       0                1
...          ...       ...     ...              ...
6635529   353396       339       0                6
6635530   353396      7311       0                6
6635531   353396      2001       0                6
6635532   353396     33352       0                6
6635533   353396     43299       0                6

[6635534 rows x 4 columns]

### Vamos a elegir nuestro train test son  109 millones de datos por lo que vamos a tomar un muestra de 2000mil datos

In [4]:
# train = animelist.sample(n=20000, random_state=43)
# print(train.shape)
# test=animelist.sample(n=25000, random_state=43)
# test=test.iloc[15000:24999,:]
# print(test.shape)

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
interactions_selected.drop(columns= 'watching_status')

         user_id  anime_id  rating
0             12     32301       0
1             12       857       0
2             12     25013       0
3             12     34051       0
4             12     32171       0
...          ...       ...     ...
6635529   353396       339       0
6635530   353396      7311       0
6635531   353396      2001       0
6635532   353396     33352       0
6635533   353396     43299       0

[6635534 rows x 3 columns]

In [46]:
train, test = train_test_split(interactions_selected, test_size=0.2, random_state=42)
train=train.drop(columns= 'watching_status')
print(train.user_id.nunique())
test.user_id.nunique()   #Ejecutamos esta linea o la de arriba, si no se pisan

19976

19578

In [47]:
print(train.user_id.nunique())
test.user_id.nunique()

19976

19578

Vemos si no tenemos alguno de test en train, eso haria que los que no coiciden tendremos que hacerle un coldstart( Les recomednaremos los animes mas populares del momento)

In [9]:
test[~test.user_id.isin(train.user_id.unique())].user_id.nunique()      #isin se fija si un valor esta en el dataframe, si esta, lo marca como true, si no False, como busca los que no ~
#Practicamente todos, pero con el dataset completo, tenemos mejores resultados jeje
#Nos dice todos los usuarios que no estan en el set de train

24

In [10]:
# Pivoteamos la tabla, cambiamos columnas por indices y damos vuelta
interactions_matrix = train.pivot(index="user_id", columns="anime_id", values="rating")

In [11]:
interactions_matrix.head() #Tememos que llenar los NaN con nulos que son las peliculas que no vieron
interactions_matrix.shape

(19976, 16864)

In [12]:
interactions_matrix = interactions_matrix.fillna(0)

In [13]:
interactions_matrix

anime_id,1,5,6,7,8,15,16,17,18,19,...,48418,48425,48426,48438,48441,48456,48471,48483,48488,48491
user_id,,,,,,,,,,,,,,,,,,,,,
12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
36,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
57,0.0,8.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
58,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
71,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
353339,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
353362,0.0,0.0,0.0,0.0,0.0,9.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
353381,8.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
353391,9.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
353396,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Transformamos la matris por mucha dispercion y gran cantidad de datos

In [14]:
from scipy.sparse import csr_matrix

In [15]:
interactions_matrix_csr = csr_matrix(interactions_matrix.values)

In [16]:
interactions_matrix_csr      #El modelo necesita una matiz sparsida para funcionar

<19976x16864 sparse matrix of type '<class 'numpy.float64'>'
	with 3027508 stored elements in Compressed Sparse Row format>

La siguiente celda generará un diccionario que nos servirá como índice más adelante.

Tiene como keys el id de cada usuario y como valor el indice (número de fila en la matriz)

Y el diccionario para futura referencia:

In [17]:
user_id = list(interactions_matrix.index)
user_dict = {}
counter = 0
for i in user_id:
    user_dict[i] = counter
    counter += 1

In [18]:
item_id = list(interactions_matrix.columns)
item_dict = {}
counter = 0
for i in item_id:
    item_dict[i] = counter
    counter += 1

In [19]:
user_dict

{12: 0,
 36: 1,
 57: 2,
 58: 3,
 71: 4,
 89: 5,
 94: 6,
 136: 7,
 145: 8,
 201: 9,
 209: 10,
 216: 11,
 241: 12,
 254: 13,
 266: 14,
 298: 15,
 339: 16,
 343: 17,
 353: 18,
 362: 19,
 368: 20,
 378: 21,
 419: 22,
 423: 23,
 431: 24,
 451: 25,
 458: 26,
 473: 27,
 532: 28,
 537: 29,
 542: 30,
 564: 31,
 584: 32,
 588: 33,
 595: 34,
 604: 35,
 628: 36,
 642: 37,
 657: 38,
 660: 39,
 672: 40,
 711: 41,
 713: 42,
 732: 43,
 739: 44,
 748: 45,
 785: 46,
 795: 47,
 802: 48,
 808: 49,
 855: 50,
 856: 51,
 861: 52,
 870: 53,
 872: 54,
 881: 55,
 895: 56,
 898: 57,
 935: 58,
 936: 59,
 937: 60,
 941: 61,
 988: 62,
 993: 63,
 1018: 64,
 1042: 65,
 1050: 66,
 1060: 67,
 1073: 68,
 1103: 69,
 1123: 70,
 1230: 71,
 1268: 72,
 1276: 73,
 1287: 74,
 1310: 75,
 1312: 76,
 1323: 77,
 1335: 78,
 1348: 79,
 1408: 80,
 1454: 81,
 1473: 82,
 1503: 83,
 1532: 84,
 1564: 85,
 1571: 86,
 1582: 87,
 1640: 88,
 1677: 89,
 1722: 90,
 1727: 91,
 1740: 92,
 1754: 93,
 1758: 94,
 1762: 95,
 1775: 96,
 1796: 97,
 1803: 98,
 1826: 99,
 1832: 100,
 1835: 101,
 1839: 102,
 1844: 103,
 1870: 104,
 1890: 105,
 1901: 106,
 1924: 107,
 1925: 108,
 1926: 109,
 1934: 110,
 1939: 111,
 1964: 112,
 1988: 113,
 2030: 114,
 2043: 115,
 2054: 116,
 2066: 117,
 2072: 118,
 2081: 119,
 2097: 120,
 2105: 121,
 2114: 122,
 2132: 123,
 2157: 124,
 2193: 125,
 2207: 126,
 2221: 127,
 2294: 128,
 2307: 129,
 2319: 130,
 2349: 131,
 2356: 132,
 2375: 133,
 2398: 134,
 2400: 135,
 2402: 136,
 2414: 137,
 2419: 138,
 2436: 139,
 2459: 140,
 2485: 141,
 2524: 142,
 2536: 143,
 2555: 144,
 2560: 145,
 2567: 146,
 2605: 147,
 2621: 148,
 2625: 149,
 2630: 150,
 2635: 151,
 2673: 152,
 2696: 153,
 2729: 154,
 2746: 155,
 2788: 156,
 2800: 157,
 2801: 158,
 2850: 159,
 2856: 160,
 2891: 161,
 2900: 162,
 2926: 163,
 2928: 164,
 2932: 165,
 2937: 166,
 2944: 167,
 2953: 168,
 2978: 169,
 2981: 170,
 2991: 171,
 2992: 172,
 2997: 173,
 3008: 174,
 3030: 175,
 3082: 176,
 3084: 177,
 3103: 178,
 3105: 179,
 3114: 180,
 3119: 181,
 3120: 182,
 3182: 183,
 3185: 184,
 3206: 185,
 3213: 186,
 3255: 187,
 3290: 188,
 3298: 189,
 3337: 190,
 3375: 191,
 3395: 192,
 3421: 193,
 3470: 194,
 3495: 195,
 3525: 196,
 3544: 197,
 3554: 198,
 3565: 199,
 3579: 200,
 3616: 201,
 3620: 202,
 3623: 203,
 3649: 204,
 3660: 205,
 3661: 206,
 3662: 207,
 3670: 208,
 3697: 209,
 3768: 210,
 3787: 211,
 3811: 212,
 3817: 213,
 3824: 214,
 3858: 215,
 3865: 216,
 3889: 217,
 3928: 218,
 3929: 219,
 3941: 220,
 3947: 221,
 3967: 222,
 3973: 223,
 3997: 224,
 4020: 225,
 4029: 226,
 4031: 227,
 4040: 228,
 4056: 229,
 4068: 230,
 4081: 231,
 4088: 232,
 4098: 233,
 4121: 234,
 4159: 235,
 4167: 236,
 4169: 237,
 4184: 238,
 4192: 239,
 4204: 240,
 4219: 241,
 4221: 242,
 4262: 243,
 4288: 244,
 4290: 245,
 4300: 246,
 4332: 247,
 4341: 248,
 4349: 249,
 4363: 250,
 4377: 251,
 4409: 252,
 4425: 253,
 4435: 254,
 4439: 255,
 4468: 256,
 4480: 257,
 4513: 258,
 4542: 259,
 4554: 260,
 4557: 261,
 4566: 262,
 4571: 263,
 4576: 264,
 4577: 265,
 4583: 266,
 4595: 267,
 4608: 268,
 4616: 269,
 4635: 270,
 4646: 271,
 4648: 272,
 4651: 273,
 4658: 274,
 4667: 275,
 4679: 276,
 4688: 277,
 4692: 278,
 4712: 279,
 4735: 280,
 4738: 281,
 4773: 282,
 4777: 283,
 4813: 284,
 4823: 285,
 4838: 286,
 4847: 287,
 4864: 288,
 4876: 289,
 4903: 290,
 4921: 291,
 4961: 292,
 5000: 293,
 5010: 294,
 5065: 295,
 5079: 296,
 5090: 297,
 5122: 298,
 5135: 299,
 5145: 300,
 5162: 301,
 5174: 302,
 5192: 303,
 5195: 304,
 5214: 305,
 5229: 306,
 5238: 307,
 5255: 308,
 5256: 309,
 5265: 310,
 5281: 311,
 5293: 312,
 5297: 313,
 5311: 314,
 5317: 315,
 5367: 316,
 5374: 317,
 5386: 318,
 5410: 319,
 5432: 320,
 5493: 321,
 5498: 322,
 5511: 323,
 5535: 324,
 5550: 325,
 5557: 326,
 5626: 327,
 5650: 328,
 5656: 329,
 5675: 330,
 5683: 331,
 5685: 332,
 5688: 333,
 5699: 334,
 5750: 335,
 5763: 336,
 5770: 337,
 5805: 338,
 5813: 339,
 5827: 340,
 5842: 341,
 5847: 342,
 5848: 343,
 5856: 344,
 5897: 345,
 5908: 346,
 5925: 347,
 5928: 348,
 5937: 349,
 5973: 350,
 5978: 351,
 5979: 352,
 5982: 353,
 6001: 354,
 6014: 355,
 6024: 356,
 6060: 357,
 6093: 358,
 6096: 359,
 6099: 360,
 6111: 361,
 6148: 362,
 6163: 363,
 6199: 364,
 6203: 365,
 6204: 366,
 6227: 367,
 6230: 368,
 6250: 369,
 6254: 370,
 6257: 371,
 6258: 372,
 6267: 373,
 6274: 374,
 6283: 375,
 6301: 376,
 6303: 377,
 6348: 378,
 6414: 379,
 6420: 380,
 6430: 381,
 6460: 382,
 6479: 383,
 6504: 384,
 6509: 385,
 6516: 386,
 6541: 387,
 6571: 388,
 6608: 389,
 6630: 390,
 6638: 391,
 6649: 392,
 6742: 393,
 6759: 394,
 6800: 395,
 6809: 396,
 6841: 397,
 6888: 398,
 6936: 399,
 6940: 400,
 6944: 401,
 6950: 402,
 6952: 403,
 6959: 404,
 6975: 405,
 6977: 406,
 6989: 407,
 7014: 408,
 7027: 409,
 7029: 410,
 7081: 411,
 7097: 412,
 7099: 413,
 7112: 414,
 7186: 415,
 7191: 416,
 7210: 417,
 7237: 418,
 7238: 419,
 7286: 420,
 7345: 421,
 7346: 422,
 7387: 423,
 7409: 424,
 7414: 425,
 7427: 426,
 7436: 427,
 7500: 428,
 7502: 429,
 7507: 430,
 7532: 431,
 7534: 432,
 7542: 433,
 7547: 434,
 7548: 435,
 7559: 436,
 7576: 437,
 7581: 438,
 7598: 439,
 7604: 440,
 7619: 441,
 7639: 442,
 7644: 443,
 7673: 444,
 7675: 445,
 7686: 446,
 7691: 447,
 7699: 448,
 7724: 449,
 7749: 450,
 7759: 451,
 7784: 452,
 7790: 453,
 7815: 454,
 7831: 455,
 7835: 456,
 7838: 457,
 7844: 458,
 7869: 459,
 7877: 460,
 7905: 461,
 7943: 462,
 7963: 463,
 7967: 464,
 7995: 465,
 8013: 466,
 8024: 467,
 8026: 468,
 8054: 469,
 8057: 470,
 8092: 471,
 8118: 472,
 8126: 473,
 8140: 474,
 8141: 475,
 8151: 476,
 8167: 477,
 8168: 478,
 8227: 479,
 8236: 480,
 8246: 481,
 8260: 482,
 8262: 483,
 8263: 484,
 8267: 485,
 8289: 486,
 8292: 487,
 8391: 488,
 8403: 489,
 8407: 490,
 8416: 491,
 8437: 492,
 8438: 493,
 8439: 494,
 8450: 495,
 8459: 496,
 8475: 497,
 8477: 498,
 8499: 499,
 8517: 500,
 8606: 501,
 8673: 502,
 8700: 503,
 8728: 504,
 8729: 505,
 8730: 506,
 8733: 507,
 8735: 508,
 8763: 509,
 8768: 510,
 8795: 511,
 8803: 512,
 8851: 513,
 8862: 514,
 8868: 515,
 8874: 516,
 8877: 517,
 8883: 518,
 8904: 519,
 8908: 520,
 8915: 521,
 8938: 522,
 8962: 523,
 8998: 524,
 9000: 525,
 9008: 526,
 9026: 527,
 9028: 528,
 9032: 529,
 9070: 530,
 9087: 531,
 9092: 532,
 9126: 533,
 9157: 534,
 9175: 535,
 9189: 536,
 9240: 537,
 9243: 538,
 9254: 539,
 9272: 540,
 9304: 541,
 9310: 542,
 9324: 543,
 9328: 544,
 9336: 545,
 9354: 546,
 9395: 547,
 9417: 548,
 9423: 549,
 9432: 550,
 9455: 551,
 9456: 552,
 9460: 553,
 9486: 554,
 9537: 555,
 9540: 556,
 9559: 557,
 9562: 558,
 9606: 559,
 9620: 560,
 9635: 561,
 9640: 562,
 9666: 563,
 9696: 564,
 9704: 565,
 9707: 566,
 9709: 567,
 9715: 568,
 9721: 569,
 9738: 570,
 9742: 571,
 9768: 572,
 9774: 573,
 9795: 574,
 9810: 575,
 9819: 576,
 9820: 577,
 9821: 578,
 9823: 579,
 9855: 580,
 9913: 581,
 9923: 582,
 9939: 583,
 9948: 584,
 9950: 585,
 9958: 586,
 9967: 587,
 10007: 588,
 10021: 589,
 10022: 590,
 10026: 591,
 10058: 592,
 10065: 593,
 10087: 594,
 10089: 595,
 10108: 596,
 10116: 597,
 10123: 598,
 10132: 599,
 10147: 600,
 10164: 601,
 10175: 602,
 10176: 603,
 10181: 604,
 10185: 605,
 10186: 606,
 10187: 607,
 10190: 608,
 10202: 609,
 10208: 610,
 10221: 611,
 10238: 612,
 10239: 613,
 10261: 614,
 10290: 615,
 10313: 616,
 10328: 617,
 10337: 618,
 10339: 619,
 10344: 620,
 10351: 621,
 10352: 622,
 10371: 623,
 10392: 624,
 10393: 625,
 10421: 626,
 10424: 627,
 10428: 628,
 10440: 629,
 10474: 630,
 10516: 631,
 10543: 632,
 10569: 633,
 10578: 634,
 10589: 635,
 10590: 636,
 10603: 637,
 10608: 638,
 10643: 639,
 10664: 640,
 10679: 641,
 10723: 642,
 10748: 643,
 10750: 644,
 10774: 645,
 10775: 646,
 10783: 647,
 10808: 648,
 10810: 649,
 10829: 650,
 10917: 651,
 10928: 652,
 10939: 653,
 10940: 654,
 10949: 655,
 10954: 656,
 10993: 657,
 11010: 658,
 11015: 659,
 11046: 660,
 11053: 661,
 11074: 662,
 11083: 663,
 11115: 664,
 11128: 665,
 11165: 666,
 11174: 667,
 11192: 668,
 11217: 669,
 11237: 670,
 11282: 671,
 11290: 672,
 11298: 673,
 11300: 674,
 11319: 675,
 11333: 676,
 11349: 677,
 11393: 678,
 11396: 679,
 11402: 680,
 11462: 681,
 11493: 682,
 11507: 683,
 11524: 684,
 11536: 685,
 11542: 686,
 11567: 687,
 11569: 688,
 11573: 689,
 11599: 690,
 11601: 691,
 11634: 692,
 11686: 693,
 11692: 694,
 11699: 695,
 11725: 696,
 11750: 697,
 11755: 698,
 11769: 699,
 11783: 700,
 11798: 701,
 11801: 702,
 11825: 703,
 11830: 704,
 11831: 705,
 11834: 706,
 11854: 707,
 11886: 708,
 11889: 709,
 11954: 710,
 11955: 711,
 11959: 712,
 11966: 713,
 11968: 714,
 11971: 715,
 12000: 716,
 12006: 717,
 12012: 718,
 12055: 719,
 12062: 720,
 12087: 721,
 12104: 722,
 12137: 723,
 12146: 724,
 12152: 725,
 12158: 726,
 12179: 727,
 12191: 728,
 12247: 729,
 12256: 730,
 12261: 731,
 12265: 732,
 12296: 733,
 12303: 734,
 12306: 735,
 12307: 736,
 12319: 737,
 12340: 738,
 12341: 739,
 12351: 740,
 12357: 741,
 12371: 742,
 12395: 743,
 12398: 744,
 12400: 745,
 12403: 746,
 12414: 747,
 12423: 748,
 12434: 749,
 12466: 750,
 12472: 751,
 12503: 752,
 12525: 753,
 12539: 754,
 12541: 755,
 12542: 756,
 12552: 757,
 12553: 758,
 12554: 759,
 12559: 760,
 12572: 761,
 12584: 762,
 12594: 763,
 12620: 764,
 12638: 765,
 12639: 766,
 12663: 767,
 12664: 768,
 12669: 769,
 12675: 770,
 12688: 771,
 12752: 772,
 12754: 773,
 12764: 774,
 12765: 775,
 12774: 776,
 12788: 777,
 12830: 778,
 12849: 779,
 12916: 780,
 12932: 781,
 12980: 782,
 13013: 783,
 13017: 784,
 13021: 785,
 13033: 786,
 13074: 787,
 13078: 788,
 13085: 789,
 13123: 790,
 13159: 791,
 13184: 792,
 13202: 793,
 13203: 794,
 13233: 795,
 13237: 796,
 13260: 797,
 13266: 798,
 13285: 799,
 13300: 800,
 13310: 801,
 13350: 802,
 13376: 803,
 13411: 804,
 13413: 805,
 13417: 806,
 13432: 807,
 13480: 808,
 13495: 809,
 13561: 810,
 13562: 811,
 13569: 812,
 13597: 813,
 13613: 814,
 13619: 815,
 13623: 816,
 13650: 817,
 13689: 818,
 13723: 819,
 13757: 820,
 13780: 821,
 13799: 822,
 13800: 823,
 13806: 824,
 13816: 825,
 13833: 826,
 13837: 827,
 13865: 828,
 13867: 829,
 13868: 830,
 13873: 831,
 13875: 832,
 13892: 833,
 13893: 834,
 13902: 835,
 13935: 836,
 13941: 837,
 13956: 838,
 13960: 839,
 13965: 840,
 14020: 841,
 14022: 842,
 14040: 843,
 14047: 844,
 14059: 845,
 14069: 846,
 14116: 847,
 14138: 848,
 14146: 849,
 14156: 850,
 14161: 851,
 14189: 852,
 14227: 853,
 14228: 854,
 14230: 855,
 14258: 856,
 14261: 857,
 14262: 858,
 14294: 859,
 14303: 860,
 14304: 861,
 14311: 862,
 14325: 863,
 14327: 864,
 14329: 865,
 14335: 866,
 14358: 867,
 14366: 868,
 14368: 869,
 14396: 870,
 14409: 871,
 14417: 872,
 14426: 873,
 14429: 874,
 14454: 875,
 14486: 876,
 14510: 877,
 14520: 878,
 14536: 879,
 14555: 880,
 14572: 881,
 14594: 882,
 14708: 883,
 14731: 884,
 14794: 885,
 14800: 886,
 14828: 887,
 14846: 888,
 14848: 889,
 14856: 890,
 14858: 891,
 14866: 892,
 14872: 893,
 14880: 894,
 14891: 895,
 14901: 896,
 14923: 897,
 14944: 898,
 14970: 899,
 14988: 900,
 14990: 901,
 15003: 902,
 15012: 903,
 15042: 904,
 15043: 905,
 15045: 906,
 15075: 907,
 15091: 908,
 15099: 909,
 15107: 910,
 15162: 911,
 15211: 912,
 15214: 913,
 15220: 914,
 15233: 915,
 15268: 916,
 15283: 917,
 15287: 918,
 15304: 919,
 15326: 920,
 15337: 921,
 15339: 922,
 15389: 923,
 15405: 924,
 15420: 925,
 15427: 926,
 15469: 927,
 15520: 928,
 15542: 929,
 15543: 930,
 15548: 931,
 15551: 932,
 15555: 933,
 15567: 934,
 15612: 935,
 15625: 936,
 15684: 937,
 15702: 938,
 15732: 939,
 15749: 940,
 15753: 941,
 15754: 942,
 15799: 943,
 15809: 944,
 15821: 945,
 15823: 946,
 15833: 947,
 15846: 948,
 15855: 949,
 15857: 950,
 15909: 951,
 15934: 952,
 15939: 953,
 15959: 954,
 15984: 955,
 16009: 956,
 16018: 957,
 16033: 958,
 16066: 959,
 16068: 960,
 16073: 961,
 16091: 962,
 16117: 963,
 16135: 964,
 16152: 965,
 16212: 966,
 16224: 967,
 16230: 968,
 16242: 969,
 16249: 970,
 16253: 971,
 16260: 972,
 16274: 973,
 16284: 974,
 16288: 975,
 16293: 976,
 16328: 977,
 16355: 978,
 16430: 979,
 16431: 980,
 16457: 981,
 16460: 982,
 16474: 983,
 16494: 984,
 16547: 985,
 16548: 986,
 16554: 987,
 16564: 988,
 16569: 989,
 16596: 990,
 16601: 991,
 16607: 992,
 16623: 993,
 16641: 994,
 16662: 995,
 16676: 996,
 16681: 997,
 16702: 998,
 16704: 999,
 ...}

## Vamos a generar el modelo predictivo

In [20]:
pip install lightfm

Collecting lightfm
  Downloading lightfm-1.17.tar.gz (316 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.4/316.4 kB 5.0 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from lightfm) (1.22.4)
Requirement already satisfied: scipy>=0.17.0 in /usr/local/lib/python3.10/dist-packages (from lightfm) (1.10.1)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from lightfm) (2.27.1)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.10/dist-packages (from lightfm) (1.2.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->lightfm) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->lightfm) (2023.7.22)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests->lightfm) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->lightfm) (3.4)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from scikit-learn->lightfm) (1.3.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn->lightfm) (3.2.0)
Building wheels for collected packages: lightfm
  Building wheel for lightfm (setup.py) ... done
  Created wheel for lightfm: filename=lightfm-1.17-cp310-cp310-linux_x86_64.whl size=808303 sha256=234123587edf67ef0d73b979ad3deb243637987787675b86d9be36752e1345e5
  Stored in directory: /root/.cache/pip/wheels/4f/9b/7e/0b256f2168511d8fa4dae4fae0200fdbd729eb424a912ad636
Successfully built lightfm
Installing collected packages: lightfm
Successfully installed lightfm-1.17

In [21]:
from lightfm import LightFM

In [72]:
model = LightFM(learning_rate=0.05,
                no_components=100)

In [73]:
model = model.fit(interactions_matrix_csr,
                  epochs=20, verbose=True)

Epoch: 100%|██████████| 20/20 [04:30<00:00, 13.52s/it]

Y ahora definimos la funcion para obtener recomendaciones para un usuario en específico:

In [74]:
import numpy as np

In [75]:
def recomm(model, interactions, user_id, user_dict, item_dict, nrec_items = 20, show = True):     #nrec numero de recomendaciones

    n_users, n_items = interactions.shape
    user_x = user_dict[user_id]

    scores = pd.Series(model.predict(user_x,np.arange(n_items)))
    scores.index = interactions.columns
    scores = list(pd.Series(scores.sort_values(ascending=False).index))

    known_items = list(pd.Series(interactions.loc[user_id,:] \
                                [interactions.loc[user_id,:] > 0].index).sort_values(ascending=False))

    #Filtro de items que ya leyó el usuario
    scores = [x for x in scores if x not in known_items]
    recomms = scores[0:nrec_items]

    if show == True:
        print ("User: " + str(user_id))
        print("Known Likes:")
        counter = 1
        for i in known_items:
            print(str(counter) + '- ' + str(i))
            counter+=1

        print("\n Recommended Items:")

        counter = 1
        for i in recomms:
            print(str(counter) + '- ' + str(i))
            counter+=1
    return recomms

Probamos la función para un usuario al azar. Al poner la opción show=True nos imprime los known likes y recomms.

In [76]:
recomms_test = recomm(model, interactions_matrix, 12 , user_dict, item_dict, show=True)

User: 12
Known Likes:
1- 35062
2- 34497
3- 33486
4- 31964
5- 28121
6- 27775
7- 24405
8- 23321
9- 21881
10- 20785
11- 20021
12- 19369
13- 16662
14- 16524
15- 16498
16- 16417
17- 16011
18- 15225
19- 14813
20- 14749
21- 14289
22- 14283
23- 13759
24- 13667
25- 12477
26- 11759
27- 11757
28- 11375
29- 11021
30- 10589
31- 8246
32- 6325
33- 5681
34- 5114
35- 4726
36- 4437
37- 3269
38- 2472
39- 2144
40- 1735
41- 1575
42- 936
43- 873
44- 813
45- 552
46- 523
47- 431
48- 237
49- 223
50- 199
51- 121
52- 48
53- 20

 Recommended Items:
1- 1535
2- 30276
3- 6547
4- 4224
5- 22319
6- 19815
7- 9253
8- 10620
9- 2904
10- 32281
11- 226
12- 269
13- 20507
14- 9919
15- 8074
16- 2167
17- 11111
18- 31240
19- 9989
20- 31043

In [77]:
recomms_test

[1535,
 30276,
 6547,
 4224,
 22319,
 19815,
 9253,
 10620,
 2904,
 32281,
 226,
 269,
 20507,
 9919,
 8074,
 2167,
 11111,
 31240,
 9989,
 31043]

Si queremos ver el nombre de estos libros, podemos buscar en el dataset de metadata

# Métricas

Ahora para medir métricas, necesitamos:

1. Generar recomendaciones para todos los usuarios
2. Comparar lo que recomendamos contra lo que los usuarios realmente vieron (set de test).


Comencemos generando recomendaciones para todos los usuarios.

Nuestra función (recomm) sirve para generar recomendaciones personalizadas a usuarios para los cuales tenemos datos en el set de train.

Para usuarios cold start (que no aparecen en el set de train), debemos buscar alguna alternativa. En este caso les recomendaremos los libros con rating promedio más alto.

In [78]:
#Esta linea busca los promedios de los anime y saca los 10 primero, son las peliculas que vamos a recomendar si tenemos un coldstar
# que son aquellos usuarios que estan en el set de test pero no en el set de train, como no tenemos datos sobre ellos,
#les recomendamos el top 10 mejor rankeadas, tambien pueden ser las 10 mas vistas y asi
cold_start_recomms = train.groupby("anime_id").agg({"rating": "mean"})\
                      .sort_values(by="rating", ascending=False)\
                      .head(10)\
                      .index\
                      .to_list()

A todos los usuarios cold start les recomendaremos:

In [79]:
cold_start_recomms

[30975, 16994, 34717, 36585, 37326, 39200, 39171, 45518, 43444, 42317]

Ahora generemos recomendaciones para todos los usuarios.

Primero comenzamos armando un listado de usuarios "non cold" a los cuales les daremos recomms personalizadas.

In [80]:
users = interactions_selected.user_id.unique()  #Estos son todos los usuarios que hay en nuestro data ser
non_cold_users = train.user_id.unique()          #Como vemos ahi los que no son cold, que son a los que le vamos a recomendar, son practimente todos
# Menos 24 que tendrian coldstar
print(len(users), len(non_cold_users))

20000 19976

In [ ]:
from tqdm import tqdm
recomms_dict = {
    "user": [],
    "recomms": [],
    "cold": []
}

for user in tqdm(users):

  # Recomms personalizadas
  if user in non_cold_users:
    user_recomms = recomm(model, interactions_matrix, user, user_dict, item_dict, nrec_items = 10, show = False)
    recomms_dict["user"].append(user)
    recomms_dict["recomms"].append(user_recomms)
    recomms_dict["cold"].append(False) #Para luego tener identificados a los usuarios cold

  # Recomms cold
  else:
    recomms_dict["user"].append(user)
    recomms_dict["recomms"].append(cold_start_recomms)
    recomms_dict["cold"].append(True) #Para luego tener identificados a los usuarios cold

 45%|████▍     | 8976/20000 [06:50<07:52, 23.34it/s]

Ahora tenemos un diccionario de recomedaciones. Lo vamos a convertir en dataframe para poder manipularlo más fácil (como estamos acostumbrados)

In [ ]:
recomms_df = pd.DataFrame(recomms_dict)

In [ ]:
recomms_df[recomms_df['cold'] == False]

In [ ]:
recomms_df.user.nunique()

In [ ]:
recomms_df.cold.value_counts()

Ahora tenemos que comparar nuestras recomms contra lo que los usuarios realmente vieron (test).

In [ ]:
test.head()

Primero ordenamos libros según los ratings (mayor a menor) que dieron los usuarios en el set de test.

Luego, agrupamos y armamos un listado de libros para cada usuario.

Este es el listado "ideal" contra el que vamos a comparar nuestras recomendaciones.

In [ ]:
#Esto ordena, por usuario y por raitng (en esa priroridad)
# Y a esto le agrega una columna de
# aca agrupa por usuario y le agrega columna de animes que alla votado
# Como es el set de test, van a ser las peliculas que deberiamos recomendarles
ideal_recomms = test[test.watching_status != 0]\
                  .groupby(["user_id"], as_index=False)\
                  .agg({"anime_id": "unique"})\
                  .head()
ideal_recomms

Ahora vamos a medir MAP. Para esto nos basaremos en este ejemplo: https://github.com/Datathon2021/Recomendador/blob/main/Ejemplos/ejemplo_map.ipynb

Sklearn también tiene funciones para medir NDCG, etc.

Primero que nada, vamos a unir en un mismo dataframe las recomendaciones nuestras con el set ideal.

In [ ]:
df_map = ideal_recomms.merge(recomms_df, how="left", left_on="user_id", right_on="user")[["user_id", "anime_id", "recomms"]]
df_map.columns = ["user_id", "ideal", "recomms"]
df_map.head()

![image.png]()

In [ ]:
aps = [] # lista vacía para ir almacenando la AP de cada recomendación

for pred, label in df_map[["ideal", "recomms"]].values:
  n = len(pred) # cantidad de elementos recomendados
  arange = np.arange(n, dtype=np.int32) + 1. # indexamos en base 1
  rel_k = np.in1d(pred[:n], label) # lista de booleanos que indican la relevancia de cada ítem
  tp = np.ones(rel_k.sum(), dtype=np.int32).cumsum() # lista con el contador de verdaderos positivos
  denom = arange[rel_k] # posiciones donde se encuentran los ítems relantes
  ap = (tp / denom).sum() / len(label) # average precision
  aps.append(ap)

In [ ]:
MAP = np.mean(aps)
print(f'mean average precision = {round(MAP, 5)}')

In [ ]:
df_map[["ideal", "recomms"]].values

In [ ]:
# np.arange(10, dtype=np.int32) + 1

In [ ]:
df_map.tail()

In [ ]:
np.in1d(pred[:n], label)