<a href="https://colab.research.google.com/github/FrannGallo/SistemaRecomm/blob/main/Sprint_3_v3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
import numpy as np

In [5]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# Apartir de aca importo lo que creaba desde visual code porque si no me tira error collab
Importamos csv:
* Train
* Test
* interactions_matrix
* Interactions_selected

In [6]:
interactions_selected= pd.read_csv('/content/drive/MyDrive/Data Science 2023/Sprints/Sprint 3/interactions_selected.csv')

In [49]:
train= pd.read_csv('/content/drive/MyDrive/Data Science 2023/Sprints/Sprint 3/train.csv')
test= pd.read_csv('/content/drive/MyDrive/Data Science 2023/Sprints/Sprint 3/test.csv')

ParserError: ignored

In [ ]:
interactions_matrix= pd.read_csv('/content/drive/MyDrive/Data Science 2023/Sprints/Sprint 3/interactions_matrix.csv')

In [ ]:
interactions_matrix=interactions_matrix.set_index('user_id',inplace=False)

In [ ]:
interactions_matrix=interactions_matrix.iloc[0:10000,:]  #La disminuimos a 10000

In [ ]:
interactions_selected.user_id.nunique()

In [ ]:
interactions_selected.anime_id.nunique()

Transformamos la matris por mucha dispersion y gran cantidad de datos

Y el diccionario para futura referencia:

In [50]:
user_id = list(interactions_matrix.index)
user_dict = {}
counter = 0
for i in user_id:
    user_dict[i] = counter
    counter += 1

In [14]:
item_id = list(interactions_matrix.columns)
item_dict = {}
counter = 0
for i in item_id:
    item_dict[i] = counter
    counter += 1

## Llamamos el modelo

In [19]:
pip install lightfm

Requirement already satisfied: lightfm in /usr/local/lib/python3.10/dist-packages (1.17)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from lightfm) (1.22.4)
Requirement already satisfied: scipy>=0.17.0 in /usr/local/lib/python3.10/dist-packages (from lightfm) (1.10.1)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from lightfm) (2.27.1)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.10/dist-packages (from lightfm) (1.2.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->lightfm) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->lightfm) (2023.5.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests->lightfm) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->lightfm) (3.4)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from scikit-learn->lightfm) (1.3.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn->lightfm) (3.1.0)

In [15]:
import joblib

In [16]:
from lightfm import LightFM

In [17]:
model= joblib.load('/content/drive/MyDrive/Data Science 2023/Sprints/Sprint 3/modelo.pkl')

In [18]:
model

## Generamos una funcion de recomendacion y la probamos

In [20]:
def recomm(model, interactions, user_id, user_dict, item_dict, nrec_items = 10, show = True):

    n_users, n_items = interactions.shape
    user_x = user_dict[user_id]

    scores = pd.Series(model.predict(user_x,np.arange(n_items)))
    scores.index = interactions.columns
    scores = list(pd.Series(scores.sort_values(ascending=False).index))

    known_items = list(pd.Series(interactions.loc[user_id,:] \
                                [interactions.loc[user_id,:] > 0].index).sort_values(ascending=False))

    #Filtro de items que ya leyó el usuario
    scores = [x for x in scores if x not in known_items]
    recomms = scores[0:nrec_items]

    if show == True:
        print ("User: " + str(user_id))
        print("Known Likes:")
        counter = 1
        for i in known_items:
            print(str(counter) + '- ' + str(i))
            counter+=1

        print("\n Recommended Items:")

        counter = 1
        for i in recomms:
            print(str(counter) + '- ' + str(i))
            counter+=1
    return recomms

Probamos la función para un usuario al azar. Al poner la opción show=True nos imprime los known likes y recomms.

In [21]:
interactions_matrix.sample

<bound method NDFrame.sample of            1    5    6    7    8   15   16   17   18   19  ...  47639  47778  \
user_id                                                    ...
17       0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...    0.0    0.0
19       8.0  6.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...    0.0    0.0
42       0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...    0.0    0.0
47       0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...    0.0    0.0
60       0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...    0.0    0.0
...      ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...    ...    ...
140700   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...    0.0    0.0
140739   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...    0.0    0.0
140751   9.0  8.0  0.0  0.0  7.0  8.0  0.0  0.0  0.0  0.0  ...    0.0    0.0
140764   0.0  0.0  7.0  0.0  0.0  0.0  7.0  0.0  0.0  7.0  ...    0.0    0.0
140765   0.0  0.0  7.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...    0.0    0.0

         47790  48316  48375  48405  48413  48417  48418  48438
user_id
17         0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
19         0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
42         0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
47         0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
60         0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
...        ...    ...    ...    ...    ...    ...    ...    ...
140700     0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
140739     0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
140751     0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
140764     0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
140765     0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0

[10000 rows x 10000 columns]>

In [22]:
recomms_test = recomm(model, interactions_matrix, 19 , user_dict, item_dict, show=True)

User: 19
Known Likes:
1- 9989
2- 9782
3- 9760
4- 9756
5- 974
6- 9656
7- 9617
8- 9488
9- 9479
10- 9471
11- 9379
12- 934
13- 9253
14- 9213
15- 9204
16- 9135
17- 9074
18- 9062
19- 8861
20- 885
21- 884
22- 8769
23- 8768
24- 875
25- 8713
26- 8675
27- 8577
28- 8525
29- 8516
30- 849
31- 8475
32- 8426
33- 8424
34- 8187
35- 8101
36- 8100
37- 8074
38- 7902
39- 7805
40- 7785
41- 777
42- 7728
43- 7711
44- 770
45- 7647
46- 7588
47- 7465
48- 7338
49- 7311
50- 73
51- 72
52- 71
53- 7059
54- 6987
55- 6956
56- 6884
57- 6795
58- 6746
59- 6675
60- 6641
61- 6637
62- 6610
63- 66
64- 6594
65- 659
66- 6573
67- 6547
68- 6505
69- 6380
70- 6372
71- 6347
72- 6219
73- 6211
74- 617
75- 6127
76- 6045
77- 601
78- 6007
79- 5998
80- 597
81- 5909
82- 587
83- 585
84- 572
85- 570
86- 5681
87- 565
88- 5630
89- 548
90- 543
91- 54
92- 5365
93- 5341
94- 5300
95- 522
96- 5205
97- 5204
98- 513
99- 512
100- 5114
101- 5081
102- 5
103- 4970
104- 496
105- 4835
106- 4789
107- 47
108- 468
109- 4663
110- 4565
111- 44
112- 4382
113- 437
114- 433
115- 431
116- 43
117- 4282
118- 4280
119- 4224
120- 4181
121- 4163
122- 416
123- 4147
124- 41168
125- 4107
126- 4106
127- 4081
128- 40613
129- 40591
130- 40542
131- 39741
132- 39651
133- 39587
134- 3958
135- 395
136- 39195
137- 3901
138- 38993
139- 38826
140- 38816
141- 387
142- 38691
143- 38680
144- 38668
145- 3858
146- 38524
147- 38414
148- 38329
149- 38000
150- 37999
151- 37996
152- 3785
153- 3784
154- 3783
155- 37779
156- 37675
157- 37623
158- 376
159- 37521
160- 37520
161- 37515
162- 37514
163- 37510
164- 37450
165- 37349
166- 37347
167- 37171
168- 37095
169- 3702
170- 36904
171- 36882
172- 36862
173- 36296
174- 36098
175- 35851
176- 35790
177- 35760
178- 35608
179- 35557
180- 35507
181- 35180
182- 35120
183- 35015
184- 3466
185- 34612
186- 34599
187- 34591
188- 34534
189- 3446
190- 3438
191- 34240
192- 339
193- 33674
194- 3358
195- 33489
196- 33487
197- 33486
198- 3342
199- 33337
200- 33323
201- 33255
202- 33253
203- 3323
204- 33161
205- 33095
206- 33032
207- 330
208- 32998
209- 3299
210- 32983
211- 3297
212- 32937
213- 32902
214- 32827
215- 32668
216- 32648
217- 32615
218- 326
219- 32542
220- 32485
221- 32370
222- 32366
223- 323
224- 32282
225- 32182
226- 32093
227- 32086
228- 32026
229- 32015
230- 32
231- 31964
232- 31933
233- 31859
234- 31804
235- 31798
236- 31756
237- 31715
238- 31704
239- 3167
240- 31646
241- 31580
242- 31553
243- 31478
244- 31442
245- 31404
246- 31378
247- 31376
248- 3137
249- 31297
250- 31240
251- 31174
252- 31163
253- 30919
254- 30911
255- 3089
256- 3087
257- 30831
258- 30585
259- 30503
260- 30484
261- 30458
262- 30347
263- 30307
264- 30240
265- 30206
266- 302
267- 30123
268- 3009
269- 30015
270- 29803
271- 29786
272- 2969
273- 2966
274- 2924
275- 29067
276- 2904
277- 28999
278- 2891
279- 28851
280- 2884
281- 28805
282- 28725
283- 28701
284- 28677
285- 28675
286- 28623
287- 28619
288- 28497
289- 28447
290- 28423
291- 28297
292- 28249
293- 28223
294- 28205
295- 28171
296- 28149
297- 28121
298- 28069
299- 27969
300- 27899
301- 27633
302- 2759
303- 27503
304- 2746
305- 268
306- 26351
307- 26349
308- 26243
309- 2623
310- 2605
311- 2594
312- 2593
313- 25879
314- 25859
315- 25777
316- 2577
317- 2569
318- 256
319- 25519
320- 25517
321- 2542
322- 253
323- 25241
324- 25159
325- 24913
326- 24893
327- 24833
328- 24705
329- 24701
330- 24695
331- 24687
332- 24627
333- 245
334- 24261
335- 24231
336- 24211
337- 2418
338- 24151
339- 24075
340- 24031
341- 23945
342- 23847
343- 23755
344- 23673
345- 23447
346- 23333
347- 23327
348- 23325
349- 23317
350- 23309
351- 23289
352- 23283
353- 23281
354- 23273
355- 23251
356- 23209
357- 23199
358- 23133
359- 23121
360- 23079
361- 22877
362- 22839
363- 22763
364- 22759
365- 22729
366- 227
367- 22687
368- 226
369- 22535
370- 2251
371- 2236
372- 22359
373- 22319
374- 22297
375- 22199
376- 22147
377- 22145
378- 22135
379- 22117
380- 22101
381- 221
382- 22057
383- 21995
384- 21939
385- 21877
386- 21863
387- 21845
388- 21843
389- 21771
390- 2175
391- 2167
392- 21603
393- 21587
394- 21561
395- 21557
396- 21469
397- 21431
398- 21405
399- 21329
400- 21327
401- 21325
402- 2129
403- 21085
404- 2104
405- 20977
406- 20973
407- 20961
408- 20903
409- 20889
410- 20853
411- 20787
412- 20767
413- 20709
414- 20651
415- 20541
416- 20507
417- 205
418- 20457
419- 20449
420- 20431
421- 2034
422- 2025
423- 20057
424- 20031
425- 20021
426- 199
427- 19815
428- 1980
429- 19775
430- 19685
431- 1961
432- 1960
433- 195
434- 19489
435- 19369
436- 19367
437- 19365
438- 19363
439- 19285
440- 19257
441- 19221
442- 19211
443- 19163
444- 19151
445- 19133
446- 1901
447- 18897
448- 1889
449- 18857
450- 18849
451- 18771
452- 18753
453- 18679
454- 18671
455- 18661
456- 18523
457- 18507
458- 18413
459- 18411
460- 18397
461- 18277
462- 1827
463- 1824
464- 1818
465- 18153
466- 18119
467- 18045
468- 18041
469- 17909
470- 17831
471- 17827
472- 17821
473- 17777
474- 17741
475- 17729
476- 17641
477- 17635
478- 17409
479- 17265
480- 17247
481- 1723
482- 17121
483- 17082
484- 1698
485- 16918
486- 16916
487- 1689
488- 16866
489- 16782
490- 16762
491- 16732
492- 16706
493- 16668
494- 16664
495- 16636
496- 16592
497- 16528
498- 16518
499- 16512
500- 16498
501- 16405
502- 16397
503- 16355
504- 16353
505- 16241
506- 16201
507- 16149
508- 16067
509- 16049
510- 16035
511- 16011
512- 16009
513- 16005
514- 16001
515- 160
516- 15963
517- 1593
518- 15891
519- 15863
520- 15775
521- 15751
522- 1575
523- 15699
524- 15689
525- 15687
526- 15583
527- 15417
528- 15379
529- 15359
530- 15225
531- 15117
532- 15109
533- 15039
534- 15037
535- 14967
536- 14921
537- 14833
538- 14813
539- 14811
540- 14807
541- 14753
542- 14751
543- 14749
544- 14713
545- 14627
546- 1462
547- 1454
548- 14515
549- 14397
550- 14353
551- 14349
552- 14347
553- 14345
554- 14317
555- 1430
556- 14289
557- 14277
558- 14227
559- 14199
560- 14189
561- 14075
562- 13863
563- 1379
564- 13759
565- 13709
566- 13659
567- 1361
568- 13585
569- 13535
570- 13469
571- 13335
572- 13271
573- 13175
574- 13173
575- 13169
576- 13163
577- 13125
578- 1292
579- 12893
580- 12883
581- 1270
582- 12531
583- 12477
584- 12467
585- 12445
586- 12355
587- 12189
588- 12175
589- 12113
590- 1210
591- 1208
592- 11981
593- 11979
594- 11977
595- 11843
596- 11837
597- 11771
598- 11757
599- 11741
600- 11737
601- 11703
602- 11665
603- 11633
604- 11577
605- 11531
606- 11499
607- 11491
608- 11441
609- 11433
610- 11313
611- 11179
612- 11111
613- 10893
614- 1089
615- 10863
616- 10805
617- 10798
618- 10721
619- 1072
620- 10719
621- 10711
622- 10638
623- 10620
624- 10536
625- 10521
626- 10501
627- 10470
628- 1047
629- 10460
630- 10448
631- 10418
632- 10408
633- 10389
634- 10379
635- 1033
636- 1030
637- 1029
638- 10218
639- 10191
640- 10187
641- 10165
642- 10162
643- 10122
644- 10110
645- 10090
646- 10087
647- 10083
648- 10067
649- 1004
650- 10020
651- 10016
652- 1

 Recommended Items:
1- 11759
2- 16508
3- 1536
4- 6548
5- 30279
6- 19841
7- 4232
8- 31966
9- 9254
10- 5116

In [23]:
recomms_test

['11759',
 '16508',
 '1536',
 '6548',
 '30279',
 '19841',
 '4232',
 '31966',
 '9254',
 '5116']

### Cold start

In [55]:
#Esta linea busca los promedios de los anime y saca los 10 primero, son las peliculas que vamos a recomendar si tenemos un coldstar
# que son aquellos usuarios que estan en el set de test pero no en el set de train, como no tenemos datos sobre ellos,
#les recomendamos el top 10 mejor rankeadas, tambien pueden ser las 10 mas vistas y asi
cold_start_recomms = train.groupby("anime_id").agg({"rating": "count"})\
                      .sort_values(by="rating", ascending=False)\
                      .head(10)\
                      .index\
                      .to_list()

A todos los usuarios cold start les recomendaremos:

In [56]:
cold_start_recomms

[6547, 11757, 9253, 16498, 4224, 1535, 5081, 19815, 1575, 5114]

Ahora generemos recomendaciones para todos los usuarios.

Primero comenzamos armando un listado de usuarios "non cold" a los cuales les daremos recomms personalizadas.

In [27]:
#No tenemos cold users
users = interactions_matrix.index.unique()
non_cold_users = train.user_id.unique()

print(len(users), len(non_cold_users))

10000 25000

In [29]:
from tqdm import tqdm
recomms_dict = {
    "user": [],
    "recomms": [],
    "cold": []
}

for user in tqdm(users):

  # Recomms personalizadas
  if user in non_cold_users:
    user_recomms = recomm(model, interactions_matrix, user, user_dict, item_dict, nrec_items = 20, show = False)
    recomms_dict["user"].append(user)
    recomms_dict["recomms"].append(user_recomms)
    recomms_dict["cold"].append(False) #Para luego tener identificados a los usuarios cold

  # Recomms cold
  else:
    recomms_dict["user"].append(user)
    recomms_dict["recomms"].append(cold_start_recomms)
    recomms_dict["cold"].append(True) #Para luego tener identificados a los usuarios cold

100%|██████████| 10000/10000 [21:50<00:00,  7.63it/s]

Ahora tenemos un diccionario de recomedaciones. Lo vamos a convertir en dataframe para poder manipularlo más fácil (como estamos acostumbrados)

In [30]:
recomms_df = pd.DataFrame(recomms_dict)

In [31]:
recomms_df[recomms_df['cold'] == False]

        user                                            recomms   cold
0         17  [1, 16508, 1536, 6548, 30279, 19841, 4232, 319...  False
1         19  [11759, 16508, 1536, 6548, 30279, 19841, 4232,...  False
2         42  [1, 11759, 16508, 1536, 6548, 30279, 19841, 42...  False
3         47  [1, 11759, 16508, 1536, 6548, 30279, 19841, 42...  False
4         60  [1, 11759, 16508, 1536, 30279, 6548, 19841, 42...  False
...      ...                                                ...    ...
9995  140700  [1, 16508, 1536, 6548, 30279, 19841, 4232, 319...  False
9996  140739  [1, 11759, 16508, 1536, 6548, 30279, 19841, 42...  False
9997  140751  [11759, 16508, 1536, 6548, 30279, 19841, 4232,...  False
9998  140764  [1, 11759, 16508, 1536, 6548, 19841, 4232, 319...  False
9999  140765  [1, 11759, 16508, 1536, 19841, 4232, 31966, 92...  False

[10000 rows x 3 columns]

In [32]:
recomms_df.user.nunique()

10000

In [33]:
recomms_df.cold.value_counts()

False    10000
Name: cold, dtype: int64

In [34]:
test.head()

   Unnamed: 0  user_id  anime_id  rating  watching_status
0    39183716   127265     38297       0                1
1    44951831   145883      1818       6                2
2   106282669   343691     32454       6                2
3    50247785   162953     39196       0                3
4    28817180    93352     16774       0                6

Primero ordenamos libros según los ratings (mayor a menor) que dieron los usuarios en el set de test.

Luego, agrupamos y armamos un listado de libros para cada usuario.

Este es el listado "ideal" contra el que vamos a comparar nuestras recomendaciones.

In [35]:
test

         Unnamed: 0  user_id  anime_id  rating  watching_status
0          39183716   127265     38297       0                1
1          44951831   145883      1818       6                2
2         106282669   343691     32454       6                2
3          50247785   162953     39196       0                3
4          28817180    93352     16774       0                6
...             ...      ...       ...     ...              ...
6574909    75414978   244173      7596       0                2
6574910    72173570   233600     31914       0                6
6574911    31545603   102310        32       7                2
6574912    10880451    35448      8460       0                2
6574913    44920449   145777     38691       8                2

[6574914 rows x 5 columns]

In [36]:
#Esto ordena, por usuario y por raitng (en esa priroridad)
# Y a esto le agrega una columna de
# aca agrupa por usuario y le agrega columna de animes que alla votado
# Como es el set de test, van a ser las peliculas que deberiamos recomendarles
ideal_recomms = test[test.watching_status != 0].sort_values(by="rating", ascending=False)\
                  .groupby(["user_id"], as_index=False)\
                  .agg({"anime_id": "unique"})
print(ideal_recomms.shape)
ideal_recomms

(25000, 2)

       user_id                                           anime_id
0           17  [28677, 21863, 20709, 20939, 8516, 10049, 6347...
1           19  [30276, 32281, 12115, 1530, 457, 14741, 166, 2...
2           42  [877, 21603, 14347, 4224, 147, 8425, 26349, 99...
3           47  [16498, 1735, 23755, 32281, 5341, 38000, 36456...
4           60  [2605, 892, 24765, 6768, 8675, 31995, 18179, 1...
...        ...                                                ...
24995   353326  [35247, 29803, 33926, 6547, 4224, 30015, 36999...
24996   353365  [32281, 186, 29803, 30296, 43, 45, 32268, 3919...
24997   353390  [5141, 910, 6347, 3627, 121, 574, 23283, 23209...
24998   353395  [1530, 513, 801, 101, 429, 209, 5681, 32, 1312...
24999   353398  [35180, 12531, 13125, 25835, 6114, 31173, 2054...

[25000 rows x 2 columns]

Ahora vamos a medir MAP. Para esto nos basaremos en este ejemplo: https://github.com/Datathon2021/Recomendador/blob/main/Ejemplos/ejemplo_map.ipynb

Sklearn también tiene funciones para medir NDCG, etc.

Primero que nada, vamos a unir en un mismo dataframe las recomendaciones nuestras con el set ideal.

In [41]:
df_map = ideal_recomms.merge(recomms_df, how="right", left_on="user_id", right_on="user")[["user_id", "anime_id", "recomms"]]
df_map.columns = ["user_id", "ideal", "recomms"]
df_map

,user_id,ideal,recomms
0,17,"[28677, 21863, 20709, 20939, 8516, 10049, 6347...","[1, 16508, 1536, 6548, 30279, 19841, 4232, 319..."
1,19,"[30276, 32281, 12115, 1530, 457, 14741, 166, 2...","[11759, 16508, 1536, 6548, 30279, 19841, 4232,..."
2,42,"[877, 21603, 14347, 4224, 147, 8425, 26349, 99...","[1, 11759, 16508, 1536, 6548, 30279, 19841, 42..."
3,47,"[16498, 1735, 23755, 32281, 5341, 38000, 36456...","[1, 11759, 16508, 1536, 6548, 30279, 19841, 42..."
4,60,"[2605, 892, 24765, 6768, 8675, 31995, 18179, 1...","[1, 11759, 16508, 1536, 30279, 6548, 19841, 42..."
...,...,...,...
9995,140700,"[6547, 15583, 19163, 17641, 10456, 10793, 8425...","[1, 16508, 1536, 6548, 30279, 19841, 4232, 319..."
9996,140739,"[35849, 35557, 37447, 36456, 31964, 25777, 358...","[1, 11759, 16508, 1536, 6548, 30279, 19841, 42..."
9997,140751,"[28891, 30503, 13759, 31933, 199, 2890, 5258, ...","[11759, 16508, 1536, 6548, 30279, 19841, 4232,..."
9998,140764,"[18115, 31988, 13851, 11759, 6676, 21881, 1889...","[1, 11759, 16508, 1536, 6548, 19841, 4232, 319..."
9999,140765,"[10165, 16157, 66, 16904, 10067, 9617, 36990, ...","[1, 11759, 16508, 1536, 19841, 4232, 31966, 92..."

![image.png]()

In [42]:
aps = [] # lista vacía para ir almacenando la AP de cada recomendación

for pred, label in tqdm(df_map[["ideal", "recomms"]].values):
  n = len(pred) # cantidad de elementos recomendados
  arange = np.arange(n, dtype=np.int32) + 1. # indexamos en base 1
  rel_k = np.in1d(pred[:n], label) # lista de booleanos que indican la relevancia de cada ítem
  tp = np.ones(rel_k.sum(), dtype=np.int32).cumsum() # lista con el contador de verdaderos positivos
  denom = arange[rel_k] # posiciones donde se encuentran los ítems relantes
  ap = (tp / denom).sum() / len(label) # average precision
  aps.append(ap)

  0%|          | 0/10000 [00:00<?, ?it/s]/usr/local/lib/python3.10/dist-packages/numpy/lib/arraysetops.py:608: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)
100%|██████████| 10000/10000 [00:02<00:00, 3634.31it/s]

In [52]:
MAP = np.mean(aps)
print(f'mean average precision = {round(MAP, 6)}')

mean average precision = 1e-06

In [44]:
df_map.tail()

,user_id,ideal,recomms
9995,140700,"[6547, 15583, 19163, 17641, 10456, 10793, 8425...","[1, 16508, 1536, 6548, 30279, 19841, 4232, 319..."
9996,140739,"[35849, 35557, 37447, 36456, 31964, 25777, 358...","[1, 11759, 16508, 1536, 6548, 30279, 19841, 42..."
9997,140751,"[28891, 30503, 13759, 31933, 199, 2890, 5258, ...","[11759, 16508, 1536, 6548, 30279, 19841, 4232,..."
9998,140764,"[18115, 31988, 13851, 11759, 6676, 21881, 1889...","[1, 11759, 16508, 1536, 6548, 19841, 4232, 319..."
9999,140765,"[10165, 16157, 66, 16904, 10067, 9617, 36990, ...","[1, 11759, 16508, 1536, 19841, 4232, 31966, 92..."

In [45]:
np.in1d(pred[:n], label)

/usr/local/lib/python3.10/dist-packages/numpy/lib/arraysetops.py:608: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False])

In [60]:
#Vamos a revisar por usuario, como consulta

user=140700
ideal_u=df_map[df_map["user_id"] == user].recomms
print(ideal_u[user_dict[user]])

recomm_u=df_map[df_map["user_id"] == user].ideal
print(recomm_u[user_dict[user]])

np.in1d(ideal_u[user_dict[user]] ,recomm_u[user_dict[user]])

['1', '16508', '1536', '6548', '30279', '19841', '4232', '31966', '9254', '5116', '1576', '31244', '22335', '30842', '31044', '10622', '20509', '8078', '5082', '21899']
[ 6547 15583 19163 17641 10456 10793  8425 33502 32281 32937 35790   849
 40496 33012 14741  5341  6702 34019 30544 15199 32902 24231 36475 37779
 34445 16067 31553  1887 20479  2993 22729 30831  4224 18671 32901  6747
 38145 23273 38793 32380 31418 15809 30711  5955 35589 39597  6381 11553
  9260 23233 20709 25519  5163 20021 38659 39940 27387  9041 39575  1652
 12685 34599 33352  9776 34148 40540 11633  3712 27655 27775 31374 38790
 32407  3072 25647 11077 11783  2476 33478 33360 38383 17074 25283 30869
 15451   570    79 12467 23487 18441 34812  9736  7144 10604 13357 38104
 34561 25285  4903 39991 39701 35363 16099 34934 34525 13859  7375   837
 37744 38573 32936 37799 20919    32 17513 40010 34077 39195 38915 10495
 33263 10568 37450  2104 33309 14921 35313  2403 30383 40507  6884 37293
 36455  6324 40656 23283 35883 32949 37021  4063 35338 35997 30895 34798
 10417 32981 14345 14833  1530  4896   934 31478  6594 37786 15225 36796
 37979 21863 28817 19221  6645 14237  3455  7748 11933  5671 40356  4581
 12549 21995 31439 31798 38397 38081 38940 11013 10588 13759 35868 20931
 18247 23033 28675 33681 14467 28391  9253 13663 34392 31564 39988 34280
 10278 24855  7768 38680 31442 16009 32979 36775 11227 36214 14713  9936
 23623 14283 21327 31952  3731 12189 34284 23309 10219]

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False])